.attributes {
  padding: 3px 5px;
  border: 3px solid #e6e6e6;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.activeAttributes {
  padding: 3px 5px;
  border: 3px solid #f64799;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.attributeLabel {
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  color: #222;
  margin-right: 20px;
}

.singleProductName {
  font-size: 32px;
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
}

.singleProductDescription {
  font-size: 16px;
  font-weight: normal;
  color: #222;
  text-transform: capitalize !important;
}

.singleProductPrice {
  font-size: 40px;
  color: #222;
  font-weight: 500;
}
